.lobby__room.lobby__free_room
  .lobby__element.lobby__room_num
  .lobby__element.lobby__name.lobby__with_image #{room.name}
  .lobby__element.lobby__players.lobby__with_image #{room.playersCount}/#{room.playersCapacity} players
  .lobby__element.lobby__size.lobby__with_image #{room.width}x#{room.height}
  .lobby__element.lobby__mines.lobby__with_image #{room.mines}
  .lobby__element.lobby__time.lobby__with_image #{room.time}