.lobby__room.lobby__busy_room
  .lobby__element.lobby__room_num #{room.num}
  .lobby__element.lobby__name.lobby__with_image #{room.name}
  .lobby__element.lobby__players.lobby__with_image #{room.playersCount} players
  .lobby__element.lobby__size.lobby__with_image #{room.width}x#{room.height}
  .lobby__element.lobby__mines.lobby__with_image #{room.mines}
  .lobby__element.lobby__time_have.lobby__with_image #{room.time}
  .lobby__element.lobby__observers.lobby__with_image #{room.observersCount}
  .lobby__element.lobby__status.lobby__with_image #{room.status}